<ion-header>
  <ion-toolbar>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Risque&display=swap" rel="stylesheet">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Anúncios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="fonte">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{livros[0].autor}} </ion-card-subtitle>
      <ion-card-title id="fonte" class="titulo">
        {{livros[0].titulo}}
      </ion-card-title>
      <ion-card-subtitle class="preco"> R${{livros[0].preco}} </ion-card-subtitle>
    </ion-card-header>
        <div id="tamanho_div" id="tamanho_imagem">
        <img src="../assets/images/a_sociedade_do_anel.jpg">
        A Sociedade do Anel começa no Condado, a região rural do oeste da Terra-média onde vivem os diminutos 
        e pacatos hobbits. Bilbo Bolseiro, um dos raros aventureiros desse povo, cujas peripécias foram 
        contadas em O Hobbit, resolve ir embora do Condado e deixa sua considerável herança nas mãos de seu 
        jovem parente Frodo
        </div>
        <div class="comentar">
          <h2>Comentar/Comprar</h2>
        </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{livros[1].autor}} </ion-card-subtitle>
      <ion-card-title id="fonte" class="titulo">
        {{livros[1].titulo}}
      </ion-card-title>
      <ion-card-subtitle class="preco"> R${{livros[1].preco}} </ion-card-subtitle>
    </ion-card-header>
        <div id="tamanho_div" id="tamanho_imagem">
          <img src="../assets/images/a_volta_ao_mundo_em_80_dias.jpg">
          A Volta ao Mundo em 80 Dias (Le tour du monde en quatre-vingts jours, em francês) é um romance de 
          aventura escrito pelo francês Júlio Verne e lançado em 1873. A obra retrata a tentativa do
          cavalheiro inglês Phileas Fogg e seu valete, Passepartout, de circum-navegar o mundo em 80 dias.
        </div>
        <div class="comentar">
          <h2>Comentar/Comprar</h2>
        </div>
    
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{livros[2].autor}} </ion-card-subtitle>
      <ion-card-title id="fonte" class="titulo">
        {{livros[2].titulo}}
      </ion-card-title>
      <ion-card-subtitle class="preco"> R${{livros[2].preco}} </ion-card-subtitle>
    </ion-card-header>
      <div id="tamanho_div" id="tamanho_imagem">
        <img src="../assets/images/o_alquimista.jpg">
        O alquimista segue a jornada de um pastor andaluz chamado Santiago. Acreditando em um sonho recorrente 
        de ser profético, ele decide viajar para uma adivinha Romani em uma cidade próxima para 
        descobrir seu significado.
      </div>
      <div class="comentar">
        <h2>Comentar/Comprar</h2>
      </div>
  </ion-card>
</ion-content>

