#tamanho_imagem{
    width: 90vw;
    height: 40vh;
    display:flex;
    justify-content:right;
    text-align:left;
}

#fonte{
    font-family:"Risque", cursive;
}

.descricao{
    font-family:"Risque", cursive;
    font-size: medium;
    justify-content: right;
    text-align:right;
}

#tamanho_div{
    width:100vw;
    height:40vh;
}

.comentar{
    background-color:#42d77d;
    justify-content:center;
    display:flex;
    text-align:center;
    align-items:center;
    font-family:"Risque", cursive;
}