<ion-header >
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Risque&display=swap" rel="stylesheet">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
      <ion-icon slot="end" name="person" class="avatar_icon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="texto">
  <h3>Cadastre seu livro!</h3>
  <div class="center">
    <ion-button color=green3 class="background">
      <h1>Cadastre aqui!</h1>
    </ion-button>
    <div class="livro_aberto">
  <img src="../assets/images/abra-o-livro.svg">
    </div>
  </div>
  <div class="faixa">
    <img src="../assets/images/comentario-positivo.svg">
  </div>
  <div class="seta">
    <img src="../assets/images/seta-curva-para-baixo.svg">
  </div>
  <div class="anuncios">
    <h3>Explore os anúncios<br>
      dos outros usuários</h3>
  </div>
</ion-content>
