.texto {
    justify-content:center;
    display:flex;
    text-align:center;
    align-items:center;
    font-family:"Risque", cursive;
}

.background {
    background-color:#42d77d;
    width:70%;
    height:15vh;
}

.livro_aberto img{
    width:25vw;
    height:15vh;
}

.center {
    justify-content:center;
    display:flex;
    align-items:center;
    align-items:center;
    width:100%;
    margin-bottom:15%;
    flex-direction: column;
}

.faixa{
    background-color:#257036;
    width:100%;
    height:8vh;
    margin-bottom:8%;
    justify-content:left;
    display:flex;
    text-align:left;
    flex-direction:row;
}

.faixa img{
    width:40vw;
    height:30vh;
}

.icone_comentario{
    background-color:darkorange;
    width:100%;
    height:20vh;
}

#imagens_lado_esq{
    justify-content:left;
    display:flex;
    text-align:left;
}

.seta img{
    color:#42d77d;
    width:20vw;
    height:18vh;
}

.anuncios{
    background-color:#42d77d;
    width:100%;
    height:11.62vh;
    justify-content:center;
    display:flex;
    text-align:center;
    align-items:center;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.avatar_icon{
    margin-right:3%;
    font-size: large;
}